# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\py后台管理系统\MarriageBook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
